/* Start Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

/* End Import Google Font */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-background-color: #F6E6DA;
    --color-active-nav: #D55107;
    --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    direction: rtl;
    color: #1F1F1F;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* End Global Rules */

/* Start Header */
.header {
    min-height: 80px;
    font-weight: 500;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: "Cairo", sans-serif;
}

@media (max-width: 991px) {
    .header {
        width: 100%;
        margin-top: 15px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

@media (max-width: 991px) {
    .header .container {
        flex-wrap: wrap;
        /* background: white;
        padding: 16px 10px; */
    }
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header .logo {
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .header .main-nav {
        margin: 15px 0;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
        display: none;
    }
}

.header .main-nav li.li-dropdown {
    position: relative;
}

.header .main-nav .link {
    width: 108px;
}

.header .dropdown-content {
    position: absolute;
    bottom: -90px;
    left: -53px;
    display: none;
    z-index: 1;
}

@media (max-width: 991px) {
    .header .dropdown-content {
        left: -65px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.header .dropdown-content ul {
    background-color: white;
    width: 140px;
    border-radius: 10px;
}

.header .dropdown-content ul li {
    transition: var(--main-transition);
}

.header .dropdown-content ul li:hover {
    background-color: #eee;
}

.header .dropdown-content ul li a {
    color: black;
    padding: 15px 10px;
    display: block;
    position: relative;
}

.header .dropdown-content ul li:first-of-type a::before {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECECEC;  
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 15px;
    overflow: hidden;
    font-size: 16px;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 15px;
        height: 40px;
    }
}

.header .main-nav > li > a.active {
    color: var(--color-active-nav);
    font-weight: 700;
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
    color: var(--color-active-nav);
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

.header .main-nav li a i{
    color: #1F1F1F;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.header .col-3 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    justify-content: end;
}

@media (max-width: 991px) {
    .header .col-3 {
        flex-direction: column;
        row-gap: 16px;
        display: none;
        align-items: flex-start;
        width: 100%;
        background: white;
        border-radius: 13px;
        padding: 10px 3px;
    }
}

.header .col-3 div {
    padding: 12px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.header .col-3 i {
    margin-right: 11px;
}

.header .col-3 .lang-menu {
    background-color: white;
}

.header .col-3 p {
    margin: 0;
    padding: 0;
}

.header .col-3 .dropdown-content {
   box-shadow: none;
}

.header .col-3 .lang-menu .dropdown-content {
    top: 56px;
    right: -21px;
    box-shadow: 0;
}

.header .col-3 .nav-menu {
    background-color: black;
    color: white;
}

.header .col-3 .nav-menu .dropdown-content {
    bottom: -101px;
    left: -60px;
}

.header .btn-show-nav {
    display: none;
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 23px;
}

@media (max-width: 991px) {
    .header .btn-show-nav {
        display: block;
    }
}
/* End Header */
/* Start Landing */
.landing {
    background-color: var(--main-background-color);
    height: 100vh;
    padding-top: 200px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .landing {
        padding-top: 110px;
    }
}


.landing .swiper {
    width: 100%;
    height: 600px;
}

.landing .swiper .swiper-pagination {
    text-align: unset;
}

.landing .swiper .swiper-slide {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide {
        flex-direction: column;
    }
}


.landing .swiper .swiper-slide .text {
    align-self: self-start;
}



.landing .swiper .swiper-slide .image {
    padding-top: 180px;
    width: 460px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .image {
        padding-top: 0;
        width: 160px;
    }
}


.landing .swiper .swiper-slide .image img {
    max-width: 100%;
    
}

.landing .swiper .swiper-slide .text {
    font-style: normal;
    width: 50%;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text {
        width: auto;
    }
}

@media (max-width: 768px) {
    .landing .swiper .swiper-slide .text {
        width: 440px;
        text-align: center;
    }
}

.landing .swiper .swiper-slide .text h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text h1 {
        font-size: 25px;
    }
}


.landing .swiper .swiper-slide .text p {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text p {
        font-size: 18px;
    }
}

.landing .swiper .swiper-slide .text .items {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text .items {
        margin: 15px;
    }
}

.landing .swiper .swiper-slide .text .items .box { 
    position: relative;
}

.landing .swiper .swiper-slide .text .items .box span {
    position: absolute;
    font-size: 15.39px;
    font-style: normal;
    font-weight: 700;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 60px;
    text-align: center;
    z-index: 0;
}

.landing .swiper .swiper-slide .text .items .image {
    width: 160px;
    height: 160px;
    background-color: #ecd9ca;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text .items .image {
        width: 100px;
        height: 100px;
        padding-top: 59px;
    }
}

.landing .swiper .swiper-slide .text .items .image img {
    max-width: 100%;
    width: 100px;
}

@media (max-width: 768px) {
    .landing .swiper .swiper-slide .text .items .image img {
        width: 70px;
    }
}

.landing .swiper .swiper-pagination-bullet-active {
    background-color: #1F1F1F;
}

.landing .swiper .slide-2 .image {
    align-self: flex-end;
    margin-bottom: -14px;
}

@media (max-width: 992px) {
    .landing .swiper .slide-2 .image {
        width: 350px;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .landing .swiper .slide-2 .image {
        width: 260px;
        margin-bottom: 85px;
    }
}

.landing .swiper .slide-2 .image .background {
    border-radius: 27px;
    background: #E1CEC0;
    padding: 10px;
}

.landing .swiper .slide-2 .image img {
    border-radius: 27px;
    object-fit: cover;
}


.landing .white-wave {
    background-image: url(/image/white-wave.svg);
    position: absolute;
    bottom: -725px;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
/* End Landing */


