/* Start Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/Suisse_Intl_Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/Suisse_Intl_Book.ttf') format('ttf');
    font-weight: 400; /* or use 'normal' */
    font-style: normal;
}

@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/Suisse_Intl_Medium.ttf') format('ttf');
    font-weight: 500; /* or 'medium' if it applies */
    font-style: normal;
}

@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/Suisse_Intl_Mono.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/Suisse_Intl_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisse_Intl';
    src: url('fonts/SuisseIntl-Light.ttf') format('ttf');
    font-weight: 300; /* for light */
    font-style: normal;
}
/* End Import Google Font */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-background-color: #F6E6DA;
    --color-active-nav: #D55107;
    --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    direction: rtl;
    color: #1F1F1F;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* End Global Rules */

/* Start Header */
.header {
    min-height: 80px;
    font-weight: 500;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    font-family: "Cairo", sans-serif;
}

@media (max-width: 991px) {
    .header {
        width: 100%;
        margin-top: 15px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

@media (max-width: 991px) {
    .header .container {
        flex-wrap: wrap;
        /* background: white;
        padding: 16px 10px; */
    }
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header .logo {
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

@media (max-width: 991px) {
    .header .main-nav {
        margin: 15px 0;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
        display: none;
    }
}

.header .main-nav li.li-dropdown {
    position: relative;
}

.header .main-nav .link {
    width: 108px;
}

.header .dropdown-content {
    position: absolute;
    bottom: -90px;
    left: -53px;
    display: none;
    z-index: 1;
}

@media (max-width: 991px) {
    .header .dropdown-content {
        left: -65px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.header .dropdown-content ul {
    background-color: white;
    width: 140px;
    border-radius: 10px;
}

.header .dropdown-content ul li {
    transition: var(--main-transition);
}

.header .dropdown-content ul li:hover {
    background-color: #eee;
}

.header .dropdown-content ul li a {
    color: black;
    padding: 15px 10px;
    display: block;
    position: relative;
}

.header .dropdown-content ul li:first-of-type a::before {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECECEC;  
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 15px;
    overflow: hidden;
    font-size: 16px;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 15px;
        height: 40px;
    }
}

.header .main-nav > li > a.active {
    color: var(--color-active-nav);
    font-weight: 700;
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
    color: var(--color-active-nav);
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

.header .main-nav li a i{
    color: #1F1F1F;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.header .col-3 {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    justify-content: end;
}

@media (max-width: 991px) {
    .header .col-3 {
        flex-direction: column;
        row-gap: 16px;
        display: none;
        align-items: flex-start;
        width: 100%;
        background: white;
        border-radius: 13px;
        padding: 10px 3px;
    }
}

.header .col-3 div {
    padding: 12px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.header .col-3 i {
    margin-right: 11px;
}

.header .col-3 .lang-menu {
    background-color: white;
}

.header .col-3 p {
    margin: 0;
    padding: 0;
}

.header .col-3 .dropdown-content {
   box-shadow: none;
}

.header .col-3 .lang-menu .dropdown-content {
    top: 56px;
    right: -21px;
    box-shadow: 0;
}

.header .col-3 .nav-menu {
    background-color: black;
    color: white;
}

.header .col-3 .nav-menu .dropdown-content {
    bottom: -101px;
    left: -60px;
}

.header .btn-show-nav {
    display: none;
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 23px;
}

@media (max-width: 991px) {
    .header .btn-show-nav {
        display: block;
    }
}
/* End Header */
/* Start Landing */
.landing {
    background-color: var(--main-background-color);
    height: 100vh;
    padding-top: 200px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .landing {
        padding-top: 110px;
    }
}


.landing .swiper {
    width: 100%;
    height: 600px;
}

.landing .swiper .swiper-pagination {
    text-align: unset;
}

.landing .swiper .swiper-slide {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide {
        flex-direction: column;
    }
}


.landing .swiper .swiper-slide .text {
    align-self: self-start;
}



.landing .swiper .swiper-slide .image {
    padding-top: 180px;
    width: 460px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .image {
        padding-top: 0;
        width: 160px;
    }
}


.landing .swiper .swiper-slide .image img {
    max-width: 100%;
    
}

.landing .swiper .swiper-slide .text {
    font-style: normal;
    width: 50%;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text {
        width: auto;
    }
}

@media (max-width: 768px) {
    .landing .swiper .swiper-slide .text {
        width: 440px;
        text-align: center;
    }
}

.landing .swiper .swiper-slide .text h1 {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text h1 {
        font-size: 25px;
    }
}


.landing .swiper .swiper-slide .text p {
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text p {
        font-size: 18px;
    }
}

.landing .swiper .swiper-slide .text .items {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text .items {
        margin: 15px;
    }
}

.landing .swiper .swiper-slide .text .items .box { 
    position: relative;
}

.landing .swiper .swiper-slide .text .items .box span {
    position: absolute;
    font-size: 15.39px;
    font-style: normal;
    font-weight: 700;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 60px;
    text-align: center;
    z-index: 0;
}

.landing .swiper .swiper-slide .text .items .image {
    width: 160px;
    height: 160px;
    background-color: #ecd9ca;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 992px) {
    .landing .swiper .swiper-slide .text .items .image {
        width: 100px;
        height: 100px;
        padding-top: 59px;
    }
}

.landing .swiper .swiper-slide .text .items .image img {
    max-width: 100%;
    width: 100px;
}

@media (max-width: 768px) {
    .landing .swiper .swiper-slide .text .items .image img {
        width: 70px;
    }
}

.landing .swiper .swiper-pagination-bullet-active {
    background-color: #1F1F1F;
}

.landing .swiper .slide-2 .image {
    align-self: flex-end;
    margin-bottom: -14px;
}

@media (max-width: 992px) {
    .landing .swiper .slide-2 .image {
        width: 350px;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .landing .swiper .slide-2 .image {
        width: 260px;
        margin-bottom: 85px;
    }
}

.landing .swiper .slide-2 .image .background {
    border-radius: 27px;
    background: #E1CEC0;
    padding: 10px;
}

.landing .swiper .slide-2 .image img {
    border-radius: 27px;
    object-fit: cover;
}


.landing .white-wave {
    background-image: url(/image/white-wave.svg);
    position: absolute;
    bottom: -687px;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.landing .coffe, 
.landing .paper {
    position: absolute;
}

.landing .coffe {
    bottom: 185px;
    left: 168px;
}

.landing .paper {
    top: 0;
    left: 300px;
}

.landing .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: unset;
    bottom: 76px;
}
/* End Landing */
/* Start about-us */
.about-us {
    position: relative;
}

.about-us .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px;
    padding: 100px 0;
}

.about-us > img {
    position: absolute;
    top: 0;
    left: 128px;
    z-index: -1;
}

.about-us .text {
    font-family: 'cairo', sans-serif;
    width: 550px;
}

@media (max-width: 768px) {
    .about-us .text {
        width: auto;
        padding: 0 15px;
    }
}

.about-us .text span {
    color: #5E5E5E;
    font-size: 24px;
}

.about-us .text h1 {
    font-weight: 900;
    margin: 15px 0 30px;
    font-size: 44px;
}

.about-us .text p {
    text-align: justify;
    font-size: 20px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    line-height: 1.7;
}

.about-us .image {
    background-image: url(/image/about-us.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -21px -22px;
    padding-top: 50px;
}

.about-us .image img {  
    max-width: 100%;
}

.about-us > img {
    position: absolute;
    right: 0px;
}

/* End about-us */
/* Start Product */
.products {
    padding-bottom: 100px;
    padding-top: 100px;
}

.products .container {}

.products .container > span {
    font-family: 'IBM Plex Sans Arabic';
    color: #5E5E5E;
    font-size: 24px;
}

.products .head {
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.products .head h1 {
    font-size: 44px;
    font-weight: 900;
    font-family: "cairo", sans-serif;
}

.products .head a {
    display: block;
    background: #1F1F1F;
    color: white;
    padding: 10px 15px;
    border-radius: 27px;
    font-size: 18px;
    font-weight: 500;
}

.products .head a i {
    margin-right: 5px;
}

.products .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
}

.products .boxes .box {
    display: flex;
    align-content: space-evenly;
    gap: 15px;
    position: relative;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    padding: 10px;
}

.products .boxes .box .image {}

.products .boxes .box .image img {
    max-width: 100%;
}

.products .boxes .box .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.products .boxes .box .text .offer {
    position: absolute;
    background: #A61F1C;
    color: white;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 26px;
    font-size: 14px;
    right: 19px;

}

.products .boxes .box .text h3 {
    font-size: 29px;
}

.products .boxes .box .text .size {
    color: #5E5E5E;
    font-size: 24px;
}

.products .boxes .box .text .old-price {
    font-size: 14px;
    color: #ACACAC;
    text-decoration: line-through;
    font-weight: 500;
}

.products .boxes .box .text .new-price {
    color: #D55107;
    font-size: 24px;
    font-weight: 700;
}
/* End Product */
/* Start Coffee Types */
.coffee-types {
    background-image: url(/image/types-coffee.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0;
    padding: 100px 0;
}
.coffee-types .container {
    overflow: hidden;
}

.coffee-types .container > span {
    color: #F1C072;
    font-size: 24px;
}

.coffee-types .head {}

.coffee-types .head h1 {
    color: #F6E6DA;
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 700;
    font-size: 44px;
    margin: 16px 0 40px;
}

.coffee-types .swiper {
    width: 100%;
    height: 355px;
    color: white;
    overflow: visible;
}

.coffee-types .swiper .swiper-slide .image {
    position: relative;
}

.coffee-types .swiper .swiper-slide .image img {
   max-width: 100%;
}

.coffee-types .swiper .swiper-slide .image p {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 34px;
    font-weight: 300;
    color: #F6E6DA;
}
/* End Coffee Types */
/* Start Branches */
.branches {
    padding: 100px 0;
}

.branches .container {
    position: relative;
}
.branches .text {}

.branches .text span {
    color: #5E5E5E;
    font-size: 24px;
}
.branches .text h2 {
    font-family: 'IBM Plex Sans Arabic';
    font-weight: 900;
    font-size: 44px;
    margin: 20px 0 50px;
}

.branches .co-branch {
    display: flex;
    gap: 10px;
    align-items: self-start;
    border: 1px solid #D6D6D6;
    padding: 15px 12px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background: white;
}

@media (max-width: 768px) {
    .branches .co-branch {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .branches .co-branch .form {
        width: 100%;
    }
}

.branches .co-branch form > span {
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 500;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    display: block;
    margin-bottom: 15px;
}
.branches .co-branch select {
    background: #F8F8F8;
    border: none;
    padding: 0.6rem 2.25rem .6rem .75rem;
    text-align: right;
    direction: rtl;
    font-size: 22px;
    font-weight: 700;
    min-width: 300px;
    position: relative;
}

.branches .co-branch .form {
    position: relative;
}

.branches .co-branch .form::before {
    content: "\f0d7";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    position: absolute;
    top: 56px;
    left: 14px;
    color: #1f1f1f;
    z-index: 1;
}

.branches .co-branch .list-group {
    margin-top: 30px;
}

.branches .co-branch .list-group .list-group-item {
    color: #1F1F1F;
    font-weight: 500;
    font-family: 'IBM Plex Sans Arabic';
    font-size: 19px;
    margin-bottom: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.branches .co-branch .list-group .list-group-item:hover {
    opacity: 0.5;
}

.branches .map {
    flex: 1;
}

.branches .footer {
    background-color: #D55107;
    font-size: 26px;
    font-weight: 600;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    padding: 15px 46px;
    color: #F6E6DA;
    border-radius: 20px;
    margin-top: -37px;
    padding-top: 50px;
}

.branches #map {
    width: 100%;
    height: 600px;
}

.branches .box-map {
    width: 190px;
    height: 220px;
    padding: 7px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.branches .box-map .image img {
    max-width: 100%;
}
.branches .box-map h2 {
    font-size: 16px;
    margin: 10px 0 5px;
    font-family: cairo;
    font-weight: 700;

}

.branches .box-map a {
    font-family: cairo;
    background: #1f1f1f;
    color: white;
    padding: 7px 9px;
    border-radius: 30px;
    display: block;
    font-size: 14px;
    text-align: right;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* End Branches */
/* Start Blog */
.blog {
    padding-bottom: 100px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.blog  .container > span {
    color: #5E5E5E;
    font-size: 24px;
}

.blog  .container .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog  .container .head p {
    font-size: 44px;
    font-weight: 700;
    margin: 11px 0 25px;
}

.blog  .container .head a {  
    display: block;
    background: #1f1f1f;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 500;
    
}

.blog  .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.blog  .boxes .box {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.blog  .boxes .box .image img {
    max-width: 100%;
    margin: 0 auto;
}

.blog  .boxes .box .date {
    display: block;
    color: #d55107;
    font-weight: 500;
    font-size: 15px;
    margin: 10px 0 15px;
}

.blog  .boxes .box .title {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 15px;
}

.blog  .boxes .box .body {
    color: #5E5E5E;
    font-size: 15px;
    font-weight: 500;
}
/* End Blog */
/* Start App */
.app {
    background-color: #F6E6DA;
    padding: 100px 0;
    position: relative;
    background-color: #F6E6DA;
    padding: 100px 0;
    position: relative;
    background-image: url(/image/white-wave2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1px -34px;
}

@media (max-width: 992px) {
    .app {
        background-position: 0 -2px;
    }
}

.app::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 99px;
    left: 0;
    background: #DFC7B5;
}

.app .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 992px) {
    .app .container {
        flex-direction: column;
    }
}

.app .text h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 30px;
}
.app .text .download {
    display: flex;
    gap: 20px;
    position: relative;
}

@media (max-width: 992px) {
    .app .text .download {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.app .text .download img {
    max-width: 100%;
    width: 190px;
}
.app .image img:first-child {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.app .app-paper {
    position: absolute;
    top: 184px;
    left: 338px;
}
/* End App */
/* Start Footer */
.footer {
    background-color: #F6E6DA;
}

@media (max-width: 768px) {
    .footer .box {
        margin-bottom: 40px;
    }
}
.footer .box p {
    font-size: 14px;
    font-weight: 700;
    font-family: cairo;
}

.footer .box ul li {
    font-weight: 500;
    padding: 5px 0;
}

.footer .box:last-child ul li {
    font-weight: 400;
}

.footer .box li a {
    color: #1f1f1f;
}
.footer .box li a i {
    padding-left: 5px;
}

.footer .box form {
    display: flex;
    align-items: center;
    width: 70%;
}

.footer .box form input[type=email] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #d2c3b8;
    padding: 15px 10px 15px;
}

.footer .box form input[type=submit] {
    width: fit-content;
    border-radius: 8px 0 0 8px;
    background: transparent;
    color: #495057;
    border-color: #d2c3b8;
    border-right: none;
    font-weight: 700;
    font-family: 'IBM Plex Sans Arabic';
    padding: 15px 10px;
}

.footer .box form .form-control:focus {
    box-shadow: none;
}

.copy-right {
    background-color: #EADCD2;
}

.copy-right .container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
    font-family: cairo;
    align-items: center;
    padding: 20px 10px;
}

@media (max-width: 768px) {
    .copy-right .container {
        flex-direction: column;
        align-items: self-start;
    }

    .copy-right .container p {
        margin: 11px auto 0px !important;
    }

}

.copy-right .first {
    display: flex;
    gap: 15px;
}
.copy-right .first a {
    color: #1F1F1F;
}
/* End Footer */


