/* Start Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
/* End Import Google Font */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
    --main-background-color: #F6E6DA;
    --color-active-nav: #D55107;
    --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
.header {
    min-height: 80px;
    font-weight: 500;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 991px) {
    .header {
        width: 100%;
        margin-top: 15px;
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .header .logo {
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 991px) {
    .header .main-nav {
        margin: 15px 0;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
        display: none;
    }
}

.header .main-nav li.li-dropdown {
    position: relative;
}

.header .dropdown-content {
    position: absolute;
    bottom: -90px;
    left: -53px;
    display: none;
    z-index: 1;
}

@media (max-width: 991px) {
    .header .dropdown-content {
        left: -65px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

.header .dropdown-content ul {
    background-color: white;
    width: 140px;
    border-radius: 10px;
}

.header .dropdown-content ul li {
    transition: var(--main-transition);
}

.header .dropdown-content ul li:hover {
    background-color: #eee;
}

.header .dropdown-content ul li a {
    color: black;
    padding: 15px 10px;
    display: block;
    position: relative;
}

.header .dropdown-content ul li:first-of-type a::before {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ECECEC;  
}

.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 15px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}

@media (max-width: 991px) {
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 15px;
        height: 40px;
    }
}

.header .main-nav > li > a.active {
    color: var(--color-active-nav);
}

.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
    color: var(--color-active-nav);
}

.header .main-nav > li > a:hover::before {
    left: 0;
}

.header .main-nav li a i{
    color: #1F1F1F;
    font-size: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.header .col-3 {
    display: flex;
    align-items: center;
    column-gap: 25px;
    position: relative;
}

@media (max-width: 991px) {
    .header .col-3 {
        flex-direction: column;
        row-gap: 16px;
        display: none;
    }
}

.header .col-3 div {
    padding: 0 20px;
    border-radius: 30px;
    cursor: pointer;
}

.header .col-3 i {
    margin-right: 11px;
}

.header .col-3 .lang-menu {
    background-color: white;
}

.header .col-3 .dropdown-content {
   box-shadow: none;
}

.header .col-3 .lang-menu .dropdown-content {
    top: 56px;
    right: -21px;
    box-shadow: 0;
}

.header .col-3 .nav-menu {
    background-color: black;
    color: white;
}

.header .col-3 .nav-menu .dropdown-content {
    bottom: -101px;
    left: -60px;
}

.header .btn-show-nav {
    display: none;
    position: absolute;
    top: 16px;
    left: 25px;
    font-size: 23px;
}

@media (max-width: 991px) {
    .header .btn-show-nav {
        display: block;
    }
}
/* End Header */

/* Start Landing */
.landing {
    height: 100vh;
    background-color: var(--main-background-color);
}

/* End Landing */

